In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

f:\VSCode\CreditCardDefaultPrediction\env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
path = r"F:\VSCode\CreditCardDefaultPrediction\creditcard\artifact\data_ingestion\2022-07-18-17-04-36\raw_data\UCI_Credit_Card.csv"

In [4]:
df = pd.read_csv(path)
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [1]:
path = r'F:\VSCode\CreditCardDefaultPrediction\creditcard\artifact\data_transformation\2022-07-23-17-27-49\transformed_data\train\UCI_Credit_Card.npz'

In [5]:
from creditcard.util.util import *
import pandas as pd

In [3]:
data = load_numpy_array_data(file_path=path)

In [6]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.240123,-0.80844,0.184523,0.856739,-0.264558,1.793311,1.780193,2.652046,1.911811,0.240260,...,1.456589,1.482181,1.476602,1.274575,-1.704818,-1.628130,0.841114,1.239397,0.839890,0.0
1,0.163525,-0.80844,-1.077532,0.856739,-0.155804,0.902944,-0.722324,-0.697642,-1.530826,-1.537252,...,-1.804536,-1.764527,-1.707664,-1.142173,-1.704818,-1.628130,-1.575679,-1.555022,-1.510674,0.0
2,-2.099236,1.23695,0.184523,-1.059367,1.584260,0.902944,1.780193,0.139780,0.190493,0.240260,...,-0.239468,-0.166743,-0.092312,-1.612954,-0.102814,-0.030427,-0.424201,-0.398894,0.064410,0.0
3,0.638185,-0.80844,-1.077532,0.856739,-0.699574,0.012576,0.111849,0.139780,0.190493,0.240260,...,1.682566,1.328060,1.343475,0.922249,0.917024,0.922773,0.715190,0.729400,0.831769,1.0
4,1.106768,-0.80844,-1.077532,0.856739,-0.373312,0.902944,-1.556496,-0.697642,0.190493,0.240260,...,-1.156073,-1.764527,-1.707664,-1.727397,-0.610674,-1.628130,-1.575679,-1.555022,0.133078,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,-0.288444,-0.80844,0.184523,0.856739,-0.482066,0.012576,0.111849,0.139780,0.190493,0.240260,...,1.077569,1.121461,1.132153,0.316121,0.497368,0.717120,0.542925,0.567845,0.626597,1.0
23996,-0.091299,-0.80844,0.184523,0.856739,-1.243344,0.012576,0.111849,0.139780,0.190493,0.240260,...,1.186359,1.274944,1.278805,0.447226,0.456341,0.561938,1.117886,0.692851,-1.510674,0.0
23997,-0.091299,-0.80844,-1.077532,0.856739,-1.243344,0.012576,0.111849,0.139780,0.190493,0.240260,...,0.650847,0.476430,0.270549,0.376687,0.101089,0.217241,0.297128,0.090459,0.064410,0.0
23998,1.325012,1.23695,-1.077532,-1.059367,2.345538,0.902944,-1.556496,-0.697642,-0.670167,-0.648496,...,-1.209792,-1.764527,-1.707664,-1.727397,-0.265689,-0.571932,-1.575679,-1.555022,-1.510674,0.0
23999,1.060073,1.23695,-1.077532,-1.059367,-0.047050,-0.877791,-0.722324,-0.697642,-0.670167,-1.537252,...,-1.804536,-1.764527,-1.707664,-0.165472,-0.599017,-1.628130,-1.575679,-1.555022,-1.510674,0.0